
.wp-block-playlist .wp-block-playlist__current-item {
	gap: var(--wp--preset--spacing--40);
	border-bottom-color: var(--wp--preset--color--border-bounds);
}

.wp-block-playlist .wp-block-playlist__current-item > div {
	gap: 0;
}

.wp-block-playlist .wp-block-playlist__item-title {
	font-family: var(--wp--preset--font-family--mono);
	font-weight: 400;
	font-size: var(--wp--preset--font-size--sm);
}

.wp-block-playlist .wp-block-playlist__current-item-artist-album {
	gap: var(--wp--preset--spacing--20);
	color: var(--wp--preset--color--foreground-subtle)
}

.wp-block-playlist ol.wp-block-playlist__tracklist {
	margin-top: var(--wp--preset--spacing--40);
	list-style-position: inside;
	padding: 0;
	counter-reset: item;
}
