
.is-style-query-numbered {
	padding: 0;
	counter-reset: item;
	display: flex;
	flex-direction: column;
	gap: var(--wp--preset--spacing--40);
}

.is-style-query-numbered .wp-block-post {
	list-style-type: none;
	counter-increment: item;
	display: flex;
	gap: var(--wp--preset--spacing--40);
}

.is-style-query-numbered .wp-block-post::before {
	content: counter(item, decimal-leading-zero);
	font-family: var(--wp--preset--font-family--mono);
	font-size: var(--wp--preset--font-size--md);
	font-weight: 900;
	color: var(--wp--preset--color--foreground-muted);
	flex-shrink: 0;
}
