
.wp-block-tabs-menu {
	width: 100%;
	padding-left: max(var(--wp--preset--spacing--70), calc((100% - 80rem) / 2));
	padding-right: max(var(--wp--preset--spacing--70), calc((100% - 80rem) / 2));
	box-sizing: border-box;
}
