<!-- wp:pattern {"slug":"bifrost-noise/site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Album Archive Content"},"className":"is-style-site-content","style":{"spacing":{"padding":{"top":"var:preset|spacing|0","bottom":"var:preset|spacing|0"},"blockGap":"var:preset|spacing|0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group is-style-site-content" style="padding-top:var(--wp--preset--spacing--0);padding-bottom:var(--wp--preset--spacing--0)">

	<!-- wp:pattern {"slug":"bifrost-noise/archive-header-album"} /-->
	<!-- wp:pattern {"slug":"bifrost-noise/archive-query-album"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
