<!-- wp:pattern {"slug":"bifrost-noise/site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Blog Content"},"className":"is-style-site-content","style":{"spacing":{"blockGap":"var:preset|spacing|0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group is-style-site-content">

	<!-- wp:pattern {"slug":"bifrost-noise/archive-header-post"} /-->
	<!-- wp:pattern {"slug":"bifrost-noise/archive-query-post"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
