<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group">
	<!-- wp:template-part {"slug":"header"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Music Genre Content"},"className":"is-style-site-content","style":{"spacing":{"blockGap":"var:preset|spacing|0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group is-style-site-content">

	<!-- wp:pattern {"slug":"bifrost-noise/archive-header-genre-hip-hop"} /-->
	<!-- wp:pattern {"slug":"bifrost-noise/archive-query-album"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
